<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <div class="container">
      <h2 class="mb-4"><i class="bi bi-journal-bookmark"></i> Edit Books/Book Chapter Entry</h2>
      <form action="/<%= currUser.role %>/books/<%= book._id %>?_method=PUT" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label for="type" class="form-label">Type</label>
          <select class="form-select" id="type" name="type" required>
            <option value="">Select Type</option>
            <option value="Book" <%= book.type === 'Book' ? 'selected' : '' %>>Book</option>
            <option value="Book Chapters" <%= book.type === 'Book Chapters' ? 'selected' : '' %>>Book Chapters</option>
          </select>
          <div class="invalid-feedback">Please choose a type.</div>
        </div>

        <div class="mb-3">
          <label for="title" class="form-label">Books/Book Chapter Title</label>
          <input type="text" class="form-control" id="title" name="title" value="<%= book.title %>" required>
          <div class="valid-feedback">
              Title looks good!
          </div>
          <div class="invalid-feedback">
              Provide a title!
          </div>
        </div>

        <div class="mb-3">
          <label for="authorType" class="form-label">Author Type</label>
          <select class="form-select" id="authorType" name="authorType" required>
            <option value="">Select Type</option>
            <option value="First" <%= book.authorType === 'First' ? 'selected' : '' %>>First</option>
            <option value="Corresponding" <%= book.authorType === 'Corresponding' ? 'selected' : '' %>>Corresponding</option>
            <option value="First & Corresponding" <%= book.authorType === 'First & Corresponding' ? 'selected' : '' %>>First & Corresponding</option>
            <option value="Other" <%= book.authorType === 'Other' ? 'selected' : '' %>>Other</option>
          </select>
          <div class="invalid-feedback">Please choose an author type.</div>
        </div>

        <div class="mb-3">
          <label for="otherAuthorType" class="form-label">Other Author Type (If "Other" selected in Author Type)</label>
          <input type="text" class="form-control" id="otherAuthorType" name="otherAuthorType" value="<%= book.otherAuthorType %>">
        </div>

        <div class="mb-3">
          <label for="publicationDate" class="form-label">Publication Date</label>
          <input type="date" class="form-control" id="publicationDate" name="publicationDate" value="<%= book.publicationDate.toISOString().split('T')[0] %>" required>
          <div class="valid-feedback">
              Date looks good!
          </div>
          <div class="invalid-feedback">
              Provide publication date!
          </div>
        </div>

        <div class="mb-3">
          <label for="isbn" class="form-label">ISBN</label>
          <input type="text" class="form-control" id="isbn" name="isbn" value="<%= book.isbn %>">
          <div class="form-text">Optional</div>
        </div>

        <div class="mb-3">
          <label for="publisher" class="form-label">Publisher</label>
          <input type="text" class="form-control" id="publisher" name="publisher" value="<%= book.publisher %>">
          <div class="form-text">Optional</div>
        </div>

        <div class="mb-3">
          <label for="peerReviewed" class="form-label">Peer Reviewed</label>
          <select class="form-select" id="peerReviewed" name="peerReviewed" required>
            <option value="">Select Type</option>
            <option value="Yes" <%= book.peerReviewed === 'Yes' ? 'selected' : '' %>>Yes</option>
            <option value="No" <%= book.peerReviewed === 'No' ? 'selected' : '' %>>No</option>
          </select>
          <div class="invalid-feedback">Please choose peered reviewed.</div>
        </div>

        <div class="mb-3">
          <label for="affiliatedAmity" class="form-label">Affiliatied with Amity</label>
          <select class="form-select" id="affiliatedAmity" name="affiliatedAmity" required>
            <option value="">Select Type</option>
            <option value="Yes" <%= book.affiliatedAmity === 'Yes' ? 'selected' : '' %>>Yes</option>
            <option value="No" <%= book.affiliatedAmity === 'No' ? 'selected' : '' %>>No</option>
          </select>
          <div class="invalid-feedback">Please choose affiliation.</div>
        </div>

        <div class="mb-3">
          <label for="link" class="form-label">Publication Link (if any)</label>
          <input type="url" class="form-control" id="link" name="link" placeholder="https://example.com" value="<%= book.link %>" required>
        </div>

        <div class="mb-3">
          <label for="proof" class="form-label">Proof Document</label>
          <input type="file" class="form-control" id="proof" name="proof" accept="application/pdf">
          <small class="form-text text-muted">Upload new PDF if you want to replace the current one.</small>
        </div>

        <button type="submit" class="btn btn-success"><i class="bi bi-arrow-repeat"></i> Update Book Chapter</button>
        <a href="/<%= currUser.role %>/books" class="btn btn-secondary ms-2">Cancel</a>

      </form>
    </div>
  </div>
</div>
<script src="/js/proof.js"></script>
<script src="/js/otherField.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    setupConditionalField("authorType", "otherAuthorType");
  });
</script>