<% layout("/layouts/boilerplate") %>
<body>
  <br>
    <h2><%= user.username %>'s Publications</h2>
  <br>
    <% if (publications.length === 0) { %>
      <p>No publications found.</p>
    <% } else { %>
      <ul class="list-group">
        <% publications.forEach(pub => { %>
          <li class="list-group-item">
            <strong><%= pub.title %></strong> — <%= pub.journalName %> (ISSN: <%= pub.issnNumber %>)<br/>
            <small>Published on: <%= pub.publicationDate.toDateString() %> | Indexed: <%= pub.indexedIn %></small><br/>
            <a href="/<%=user.role%>/publications/<%=user._id%>/<%=pub._id%>">View Link</a>
          </li>
          <br>
        <% }) %>
      </ul>
    <% } %>
</body>